@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	margin:0;
	padding:0;
}

html {
	background-color: #262728;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	color:#fff;
}


.main.container {
	margin-top:61px;
}

.main.container h1 {
}

